<head>
    <title>todo</title>
</head>

<body>
</body>

<template name="main">
    <div class="container page">
        {{> add_new}}
        {{> list_tasks}}
    </div>

    <div class="qm-pop">
        <h1>Keyboard Shortcuts</h1>
        <table>
            <h2>Utilities</h2>
            <tr><td><kbd>?</kbd></td><td>Show this dialog</td></tr>
            <h2>Navigation</h2>
            <tr><td><kbd>j</kbd></td><td>Next item</td></tr>
            <tr><td><kbd>k</kbd></td><td>Previous item</td></tr>
            <tr><td><kbd>v</kbd></td><td>Expand current item</td></tr>
            <tr><td><kbd>V</kbd></td><td>Contract all items</td></tr>
            <h2>Actions</h2>
            <tr><td><kbd>#</kbd></td><td>Delete current item</td></tr>
            <tr><td><kbd>ctrl</kbd>+<kbd>enter</kbd></td><td>Mark current item as completed</td></tr>
            <tr><td><kbd>n</kbd> or <kbd>c</kbd></td><td>New item</td></tr>
            <tr><td><kbd>*</kbd></td><td>Toggle visibility of completed items</td></tr>
            <tr><td><kbd>|</kbd></td><td>Archive completed tasks</td></tr>
            <tr><td><kbd>/</kbd></td><td>Focus query box</td></tr>

        </table>
    </div>
</template>

<template name="add_new">
    <div class="row">
        <input class="input input-lg col-sm-6 col-xs-12 add-new mousetrap" placeholder="(n)">
        <input class="input input-lg col-sm-6 col-xs-12 search mousetrap" placeholder="(/)">
    </div>
    <div class="row suggestions-container">
        <table class="suggestions">
            {{#each suggestions}}
                {{>show_suggestion}}
            {{/each}}
        </table>
    </div>
</template>

<template name="show_suggestion">
    <tr><td>{{text}}</td></tr>
</template>

<template name="list_tasks">
    <table class="table table-hover">
        <thead>
        </thead>
        <tbody>
            {{#each tasks}}
                {{> show_task_row}}
            {{/each}}
        </tbody>
    </table>
</template>

<template name="show_task_row">
    <tr class="task-row {{complete_to_bool}} overdue-{{overdue}}" data-id="{{_id}}">
        <td>
            <span class="title col-xs-12">{{{text_html}}}</span>
            <div class="col-xs-12 collapser collapse">
                <br>
                <div class="col-sm-6 well">
                    <div class="row">
                        <input class="input input-sm duedate col-xs-12" type="text" placeholder="Due Date (d)" value="{{due}}" />
                        <hr>

                        <a href="javascript://" class="btn btn-default btn-sm one-hour col-xs-4"><i class="glyphicon glyphicon-calendar"></i> One Hour</a>
                        <a href="javascript://" class="btn btn-default btn-sm two-hours col-xs-4"><i class="glyphicon glyphicon-calendar"></i> Two Hours</a>
                        <a href="javascript://" class="btn btn-default btn-sm five-hours col-xs-4"><i class="glyphicon glyphicon-calendar"></i> Five Hours</a>

                        <a href="javascript://" class="btn btn-default btn-sm one-day col-xs-4"><i class="glyphicon glyphicon-calendar"></i> One Day</a>
                        <a href="javascript://" class="btn btn-default btn-sm two-days col-xs-4"><i class="glyphicon glyphicon-calendar"></i> Two Days</a>
                        <a href="javascript://" class="btn btn-default btn-sm five-days col-xs-4"><i class="glyphicon glyphicon-calendar"></i> Five Days</a>
                    </div>

                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-5 well">
                    <a href="javascript://" class="btn btn-xs btn-danger delete-task"><i class="glyphicon glyphicon-remove"></i> Delete (#)</a>
                    <hr>
                    <div class="task-description" contenteditable>{{{description}}}</div>
                </div>
            </div>
        </td>
        <td class="text-right">
            <small>{{complete_string}} </small><i class="complete-indicator glyphicon glyphicon-{{complete_to_class}}"></i>
        </td>
    </tr>
</template>
