<head>
    <title>todo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
</body>

<template name="main">
    {{#unless currentUser}}
        {{> loginButtons }}
    {{else}}
    <div class="container page">
        {{> add_new}}
        {{> list_tasks}}
    </div>

    <div class="qm-pop">
        <h1>Keyboard Shortcuts</h1>
        <table>
            <h2>Utilities</h2>
            <tr><td><kbd>?</kbd></td><td>Show this dialog</td></tr>
            <h2>Navigation</h2>
            <tr><td><kbd>j</kbd></td><td>Next item</td></tr>
            <tr><td><kbd>k</kbd></td><td>Previous item</td></tr>
            <tr><td><kbd>v</kbd></td><td>Expand current item</td></tr>
            <tr><td><kbd>V</kbd></td><td>Contract all items</td></tr>
            <h2>Actions</h2>
            <tr><td><kbd>#</kbd></td><td>Delete current item</td></tr>
            <tr><td><kbd>ctrl</kbd>+<kbd>enter</kbd></td><td>Mark current item as completed</td></tr>
            <tr><td><kbd>n</kbd> or <kbd>c</kbd></td><td>New item</td></tr>
            <tr><td><kbd>*</kbd></td><td>Toggle visibility of completed items</td></tr>
            <tr><td><kbd>|</kbd></td><td>Archive completed tasks</td></tr>
            <tr><td><kbd>m t</kbd></td><td>Change Due-Date to today</td></tr>
            <tr><td><kbd>e w</kbd></td><td>Mark as 'waiting' (blocked).</td></tr>

        </table>
    </div>
    {{> command_bar}}
    {{/unless}}
</template>

<template name="add_new">
    <div class="row">
        <input class="input input-lg col-sm-6 col-xs-12 add-new mousetrap" placeholder="(n)">
        <input class="input input-lg col-sm-6 col-xs-12 search mousetrap" placeholder="(/)">
    </div>
    <div class="row suggestions-container">
        <table class="suggestions">
            {{#each suggestions}}
                {{>show_suggestion}}
            {{/each}}
        </table>
    </div>
</template>

<template name="show_suggestion">
    <tr data-sugg-id="{{_id}}"><td>{{text}}</td></tr>
</template>

<template name="list_tasks">
    <div class="row">
    <div class="col-xs-12">
    <table class="table table-hover">
        <thead>
        </thead>
        <tbody>
            {{#each today_tasks}}
                {{> show_task_row}}
            {{/each}}
            <tr class="rule"><td colspan="2"><span class="rule-today">This Week</span></td></tr>
            {{#each this_week_tasks}}
                {{> show_task_row}}
            {{/each}}
            <tr class="rule"><td colspan="2"><span class="rule-today">The Future</span></td></tr>
            {{#each future_tasks}}
                {{> show_task_row}}
            {{/each}}
        </tbody>
    </table>
    </div>
    </div>
</template>

<template name="show_task_row">
    <tr class="task-row {{complete_to_bool}} hard-{{hard}} overdue-{{overdue}}" data-id="{{_id}}">
        <td>
            <div class="row">
                <div class="col-xs-8">
                    <span class="title col-xs-12"><span class="drop-down"><i class="glyphicon glyphicon-th-large drop-down"></i></span> {{{text_html}}}</span>
                </div>
                <div class="col-xs-4 text-right">
                    <small>{{complete_string}} </small><i class="complete-indicator glyphicon glyphicon-{{complete_to_class}}"></i>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 collapser collapse">
                    <br>
                    <div class="col-sm-6 well">
                        <div class="row due-buttons">
                            <input class="input input-sm duedate col-xs-12" type="text" placeholder="Due Date (d)" value="{{due}}" />
                            <hr>

                            <a href="javascript://" class="btn btn-default btn-sm one-hour col-xs-4"><i class="glyphicon glyphicon-calendar"></i> One Hour</a>
                            <a href="javascript://" class="btn btn-default btn-sm two-hours col-xs-4"><i class="glyphicon glyphicon-calendar"></i> Two Hours</a>
                            <a href="javascript://" class="btn btn-default btn-sm five-hours col-xs-4"><i class="glyphicon glyphicon-calendar"></i> Five Hours</a>

                            <a href="javascript://" class="btn btn-default btn-sm one-day col-xs-4"><i class="glyphicon glyphicon-calendar"></i> One Day</a>
                            <a href="javascript://" class="btn btn-default btn-sm two-days col-xs-4"><i class="glyphicon glyphicon-calendar"></i> Two Days</a>
                            <a href="javascript://" class="btn btn-default btn-sm five-days col-xs-4"><i class="glyphicon glyphicon-calendar"></i> Five Days</a>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <b>People</b>
                                <div class="well">
                                    {{#each task_association_people}}
                                        {{> person_contact_sheet}}
                                    {{/each}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-5 well">
                        <a href="javascript://" class="btn btn-xs btn-danger delete-task"><i class="glyphicon glyphicon-remove"></i> Delete (#)</a>
                        <hr>
                        <div class="task-description" contenteditable>{{{description}}}</div>
                    </div>
                </div>
            </div>
        </td>
    </tr>
</template>

<template name="person_contact_sheet">
    <b>{{text}}</b>
    <p>
    {{#if primary_email}}
        <a href="mailto:{{primary_email}}" target="_blank">Email</a>
    {{else}}
        <input class="email-input input" type="email" placeholder="{{text}}'s Email">
    {{/if}}
    </p>
    <p>
    {{#if primary_phone}}
        <a href="#" target="_blank">SMS</a>
    {{else}}
        <input class="phone-input input" type="number" placeholder="{{text}}'s Phone Number">
    {{/if}}
    </p>
    <p>
    {{#if primary_facebook}}
        <a href="https://www.facebook.com/messages/{{primary_facebook}}" target="_blank">Facebook ({{primary_facebook}})</a>
    {{else}}
        <input class="facebook-input input" type="text" placeholder="{{text}}'s Facebook">
    {{/if}}
    </p>
</template>
