.suggestions-container {
    position: absolute;
    background: white;
    opacity: 0.9;
    z-index: 10;
    min-width: 20em;
    display: none;

    .suggestions {
        font-size: 2em;

        td {
            padding: 0.5em;
            text-align: center;
            cursor: pointer;
        }
    }
}
